{block:SearchPage}

  <div class="search-results">

    <h2>{lang:Found SearchResultCount results for SearchQuery}</h2>

  </div>

{/block:SearchPage}

{block:NoSearchResults}

  <div class="search-results">

    <h2>{lang:No results for SearchQuery}.</h2>

  </div>

{/block:NoSearchResults}
