// Typography

$font-family: unquote('{font:Body}');
$font-family-fallback: unquote('{select:FontBody}');
$font-size: unquote('{text:FontSize}');
$font-weight: unquote('{text:FontWeight}');

$line-height: unquote('{text:LineHeight}');

$font-family-headings: inherit;
$font-size-h1: 2.5rem;
$font-size-h2: 2rem;
$font-size-h3: 1.5rem;
$font-size-h4: 1rem;
$font-size-h5: .875rem;
$font-size-h6: .75rem;
$font-weight-headings: 700;

$font-size-headings: (
  $font-size-h1,
  $font-size-h2,
  $font-size-h3,
  $font-size-h4,
  $font-size-h5,
  $font-size-h6
);

$font-family-code: monospace;

// Visual

$amount: 10%;

// Layout

$margin-elements-bottom: 3rem;

// Layers

$z-index-submenu: 999;

// Grid

$grid-columns: 12;
$grid-gutter: 2%;
$grid-container: 48rem;

$media-micro: 20rem; // 320
$media-tiny: 30rem; // 480
$media-small: 40rem; // 640
$media-medium: 60rem; // 960
$media-large: 80rem; // 1280
