$footer-bgcolor: unquote('{color:FooterBackground}');
$footer-color: unquote('{color:Footer}');

.footer {
  background-color: $footer-bgcolor;
  color: $footer-color;
  font-size: .875rem;
  padding: 2rem 0;
}

.copyright {
  float: left;
}

.scroll-top {
  float: right;
}
