---
title "Index"
---

<!-- SEARCH-PAGE -->

{block:SearchPage}

  <div class="search-results">

    <h2>{lang:Found SearchResultCount results for SearchQuery}</h2>

  </div>

{/block:SearchPage}

{block:NoSearchResults}

  <div class="search-results">

    <h2>{lang:No results for SearchQuery}.</h2>

  </div>

{/block:NoSearchResults}

<!-- TAG-PAGE -->

{block:TagPage}

  <h2>{Tag}</h2>

{/block:TagPage}

<!-- DAY-PAGE -->

{block:DayPage}

  {Year}.{MonthNumberWithZero}.{DayOfMonthWithZero}

{/block:DayPage}

<!-- POSTS -->

<div class = "autopagerize_page_element" >

  {block:Posts}

    <article id="post-{PostID}" class="post post-{PostType} {block:Odd}post-odd{/block:Odd}{block:Even}post-even{/block:Even}" role="article">

      {{> answer }}
      {{> audio }}
      {{> chat }}
      {{> link }}
      {{> panorama }}
      {{> photo }}
      {{> photoset }}
      {{> quote }}
      {{> text }}
      {{> video }}

      <!-- POST-FOOTER -->

      <footer>

        <!-- POST-META -->

        <ul class="post-meta">

          {block:Date}

            <li><a href="/day/{Year}/{MonthNumberWithZero}/{DayOfMonthWithZero}/"><time datetime="{Timestamp}"><span class="month">{Month}</span> <span class="day">{DayOfMonth}</span>, <span class="year">{Year}</span></time></a></li>

          {/block:Date}

            {block:IndexPage}

            {block:NoteCount}

              <li><a href="{Permalink}">{NoteCountWithLabel}</a></li>

            {/block:NoteCount}

            {block:IfDisqusShortname}

              <li><a class="dsq-comment-count" href="{Permalink}#disqus_thread">Comments</a></li>

            {/block:IfDisqusShortname}

          {/block:IndexPage}

        </ul>

        <ul class="share">

          <li>{LikeButton color="grey" size="14"}</li>
          <li>{ReblogButton color="grey" size="14"}</li>
          <li>Share

            <ul>

              <li><a href="http://facebook.com/sharer.php?u={URLEncodedPermalink}&amp;t={URLEncodedTitle}" target="_blank">Facebook</a></li>
              <li><a href="https://twitter.com/intent/tweet?text={URLEncodedTweetSummary}" target="_blank">Twitter</a></li>
              <li><a href="https://plus.google.com/share?url={Permalink}" target="_blank">Google+</a></li>
              <li><a href="http://www.linkedin.com/shareArticle?mini=true&url={Permalink}{block:Title}&title={PlaintextTitle}{/block:Title}{block:PostSummary}&summary={PlaintextPostSummary}{/block:PostSummary}">LinkedIn</a></li>
              <li><a href="http://pinterest.com/pin/create/button/?url={Permalink}&media={PhotoURL-HighRes}&description=" target="_blank">Pinterest</a></li>
              <li><a href="mailto:?subject={URLEncodedShareString}&amp;body={URLEncodedMailSummary}" alt="{lang:Send email}">E-Mail</a></li>

            </ul>

          </li>

        </ul>

        <!-- TAGS -->

        {block:HasTags}

          <ul class="tags">

            {block:Tags}

              <li><a href="{TagURL}">{Tag}</a></li>

            {block:Tags}

          </ul>

        {/block:HasTags}

      </footer>

    </article>

  {/block:Posts}

</div>

<!-- NOTES -->

{block:PostNotes}

  {block:NoteCount}

    {NoteCountWithLabel}

  {/block:NoteCount}

  {PostNotes-64}

  {PostNotes}

{/block:PostNotes}

<!-- ## COMMENTS -->

{block:PermalinkPage}

  {block:IfDisqusShortname}

    <div id="disqus_thread"></div>
    <noscript>Please enable JavaScript to view the <a href="http://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>
    <a href="http://disqus.com" class="dsq-brlink">blog comments powered by <span class="logo-disqus">Disqus</span></a>

  {/block:IfDisqusShortname}

{/block:PermalinkPage}

<!-- PAGINATION -->

{block:IfNotInfiniteScrolling}

  {block:IndexPage}

    {block:Pagination}

      <ul class="pagination">

        {block:PreviousPage}

          <li class="prev"><a id="prev" href="{PreviousPage}">{lang:Previous page}</a></li>

        {/block:PreviousPage}

        {block:JumpPagination length="5"}

          {block:CurrentPage}

            <li class="active">{PageNumber}</li>

          {/block:CurrentPage}

          {block:JumpPage}

            <li><a href="{URL}">{PageNumber}</a></li>

          {/block:JumpPage}

        {/block:JumpPagination}

        {block:NextPage}

          <li class="next"><a id="next" href="{NextPage}">{lang:Next page}</a></li>

        {/block:NextPage}

      </ul>

    {/block:Pagination}

  {/block:IndexPage}

{/block:IfNotInfiniteScrolling}

{block:PermalinkPage}

  {block:PermalinkPagination}

    <ul class="pagination">

      {block:PreviousPost}

        <li class="prev"><a id="prev" href="{PreviousPost}">{lang:Previous post}</a></li>

      {/block:PreviousPost}

      <li><a href="{BlogURL}">{lang:Home}</a></li>

      {block:NextPost}

        <li class="next"><a id="next" href="{NextPost}">{lang:Next post}</a></li>

      {/block:NextPost}

    </ul>

  {/block:PermalinkPagination}

{/block:PermalinkPage}

{block:DayPage}

  {block:DayPagination}

    <ul class="pagination">

      {block:PreviousDayPage}

        <li class="prev"><a id="prev" href="{PreviousDayPage}">{lang:Previous day}</a></li>

      {/block:PreviousDayPage}

      <li><a href="{BlogURL}">{lang:Home}</a></li>

      {block:NextDayPage}

        <li class="next"><a id="next" href="{NextDayPage}">{lang:Next day}</a></li>

      {/block:NextDayPage}

    </ul>

  {/block:DayPagination}

{/block:DayPage}
