<header class="header" role="banner" itemscope="itemscope" itemtype="http://schema.org/WPHeader">

  <div class="container">

    <nav class="nav nav-horizontal" role="navigation" itemscope="itemscope" itemtype="http://schema.org/SiteNavigationElement">

      <ul>

        <li><a href="/" itemprop="url" title="{lang:Home}"><span itemprop="name">{lang:Home}</span></a></li>

        {block:HasPages}

          {block:Pages}

            <li><a href="{URL}" itemprop="url" title="{Label}"><span itemprop="name">{Label}</span></a></li>

          {/block:Pages}

        {/block:HasPages}

        <li><a href="/random" itemprop="url" title="{lang:Random post}"><span itemprop="name">{lang:Random post}</span></a></li>

        <li><a href="/archive" itemprop="url" title="{lang:Archive}"><span itemprop="name">{lang:Archive}</span></a></li>

        {block:AskEnabled}

          <li><a href="/ask" itemprop="url" title="{AskLabel}"><span itemprop="name">{AskLabel}</span></a></li>

        {/block:AskEnabled}

        {block:SubmissionsEnabled}

          <li><a href="/submit" itemprop="url" title="{SubmitLabel}"><span itemprop="name">{SubmitLabel}</span></a></li>

        {/block:SubmissionsEnabled}

      </ul>

    </nav>

    <form action="/search" method="get" class="search" role="search">

      <input type="search" name="q" value="{SearchQuery}" placeholder="{lang:Search}…">
      <input type="submit" value="{lang:Search}">

    </form>

  </div>

</header>
