<head>

  <!-- CUSTOM SETTINGS -->

  <meta name="if:Infinite Scrolling" content="0">
  <meta name="if:GoogleAnalytics" content="0">
  <meta name="if:GoogleSiteVerification" content="0">

  <meta name="text:GoogleAnalyticsID" content="UA-XXXXXXXX-X">
  <meta name="text:GoogleSiteVerification" content="Google Verification Key">

  <meta name="if:Show Social" content="1">
  <meta name="text:Disqus Shortname" content="">
  <meta name="text:Email" content="">
  <meta name="text:Behance" content="">
  <meta name="text:Codepen" content="">
  <meta name="text:Dribbble" content="">
  <meta name="text:Facebook" content="">
  <meta name="text:Flickr" content="">
  <meta name="text:Github" content="">
  <meta name="text:Google Plus" content="">
  <meta name="text:Instagram" content="">
  <meta name="text:LinkedIn" content="">
  <meta name="text:Pinterest" content="">
  <meta name="text:Reddit" content="">
  <meta name="text:Skype" content="">
  <meta name="text:Soundcloud" content="">
  <meta name="text:Twitter" content="">
  <meta name="text:Vimeo" content="">
  <meta name="text:Xing" content="">
  <meta name="text:YouTube" content="">

  <meta name="font:Headings" content="Open+Sans">
  <meta name="font:Body" content="Open+Sans">
  <meta name="select:FontBody" content="serif">
  <meta name="select:FontBody" content="sans-serif">
  <meta name="text:FontSize" content="1em">
  <meta name="text:FontWeight" content="400">
  <meta name="text:LineHeight" content="1.5em">

  <meta name="color:Color" content="#777">
  <meta name="color:Background" content="#fafafa">
  <meta name="color:Headings" content="#121212">
  <meta name="color:Primary" content="#3f8ac8">
  <meta name="color:PrimaryHover" content="#2f70a5">
  <meta name="color:Secondary" content="#ff0000">
  <meta name="color:SecondaryHover" content="#ff0000">
  <meta name="color:Border" content="#eaeaea">
  <meta name="color:PostBackground" content="#fff">
  <meta name="color:Header" content="#777">
  <meta name="color:HeaderBackground" content="#fafafa">
  <meta name="color:Footer" content="#fafafa">
  <meta name="color:FooterBackground" content="#282828">

  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">

  <title>

  {block:IndexPage}

    {Title} | {PlaintextDescription}

  {/block:IndexPage}

  {block:PermalinkPage}

    {block:PostSummary}

      {Title} | {PlaintextPostSummary}

    {/block:PostSummary}

  {block:PermalinkPage}

  {block:SearchPage}

    {Title} | {lang:Search results for SearchQuery}

  {/block:SearchPage}

  </title>

  {block:Description}

    <meta name="description" content="{MetaDescription}">

  {/block:Description}

  {block:GoogleSiteVerification}

    <meta name="google-site-verification" content="{text:GoogleSiteVerification}">

  {/block:GoogleSiteVerification}

  <meta name="apple-mobile-web-app-title" content="{Title}">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0">

  <!-- ## THEME COLOR -->

  <meta name="theme-color" content="#fff">

  <link rel="stylesheet" href="//fonts.googleapis.com/css?family={font:Headings}">
  <!-- build:css inline -->
  <link rel="stylesheet" href="css/styles.css">
  <!-- /build -->

  <style>

    {CustomCSS}

  </style>

  <link rel="shortcut icon" href="{Favicon}">
  <link rel="icon" href="{PortraitURL-128}">
  <link rel="apple-touch-icon-precomposed" href="{PortraitURL-128}">
  <link rel="alternate" type="application/rss+xml" href="{RSS}">

  {block:PermalinkPage}

    {block:Posts}

      {block:Date}

        <link rel="canonical" href="{Permalink}">
        <link rel="shortlink" href="{ShortURL}">

      {/block:Date}

    {/block:Posts}

  {/block:PermalinkPage}

</head>
