<header class="header" role="banner">

  <div class="container">

    <nav class="nav nav-horizontal" role="navigation">

      <ul>

        <li><a href="/">{lang:Home}</a></li>

        {block:HasPages}

          {block:Pages}

            <li><a href="{URL}">{Label}</a></li>

          {/block:Pages}

        {/block:HasPages}

        <li><a href="/random">{lang:Random post}</a></li>

        <li><a href="/archive">{lang:Archive}</a></li>

        {block:AskEnabled}

          <li><a href="/ask">{AskLabel}</a></li>

        {/block:AskEnabled}

        {block:SubmissionsEnabled}

          <li><a href="/submit">{SubmitLabel}</a></li>

        {/block:SubmissionsEnabled}

      </ul>

    </nav>

    <form action="/search" method="get" class="search" role="search">

      <input type="search" name="q" value="{SearchQuery}" placeholder="{lang:Search}…">
      <input type="submit" value="{lang:Search}">

    </form>

  </div>

</header>
