{block:Link}

  <header>

    <h2 class="post-title" itemprop="name headline"><a href="{URL}" {Target} itemprop="url">{Name}</a></h2>

  </header>

  <main itemprop="articleBody description">

    {block:Thumbnail}

      {Thumbnail}

    {/block:Thumbnail}

    {block:Description}

      {Description}

    {/block:Description}

  </main>

{/block:Link}
