{block:Text}

  <header>

    {block:IndexPage}

      {block:Title}

        <h2 class="post-title" itemprop="name headline"><a href="{Permalink}" title="{lang:Link post} {Title}" itemprop="url">{Title}</a></h2>

      {/block:Title}

    {/block:IndexPage}

    {block:PermalinkPage}

    {block:Title}

      <h1 class="post-title" itemprop="name headline">{Title}</h1>

    {/block:Title}

  {/block:PermalinkPage}

  </header>

  <main itemprop="articleBody description">

    {Body}

    {block:More}

      <p><a href="{Permalink}" class="more">{lang:Read more}</a></p>

    {/block:More}

  </main>

{/block:Text}
