.media {

  &::before,
  &::after {
    content: ' ';
    display: table;
  }

  &::after {
    clear: both;
  }

}

.media-obj-left {
  float: left;
  margin-right: 1rem;
}

.media-obj-right {
  float: right;
  margin-left: 1rem;
}

.media-body {
  overflow: hidden;
}
