nav {

  ul {
    @include clearfix();
    @include list-unstyled();
  }

  a {
    display: block;
  }

}

.nav-horizontal {

  ul {
    margin: 0 -.25rem;
  }

  li {
    display: inline-block;
    margin: 0 .25rem;
  }

}
