$post-bgcolor: unquote('{color:PostBackground}');

$post-footer-color: #bcbcbc;

.post {
  background-color: $post-bgcolor;
  border: 1px solid $color-border;
  border-radius: .25rem;
  margin-bottom: $margin-elements-bottom;
  padding: $margin-elements-bottom;

  header {

  }

  footer {
    @include clearfix();
    border-top: 1px solid $color-border;
    font-size: .875rem;
    margin-top: 2rem;
    padding-top: 1rem;

    a {
      color: $post-footer-color;
    }

  }

  > iframe {
    max-width: 100%;
    width: 100%;
  }

}

.tags {
  @include clearfix();
  @include list-unstyled();

  li {
    float: left;
    margin: 0 .5rem;

    &:first-child {
      margin-left: 0;
    }

    &:last-child {
      margin-right: 0;
    }

  }

  &-chat {

    .chat {
      @include list-unstyled;

      .even {
        margin-left: 1.5rem;
      }

    }

  }

  &-link {

  }

  &-panorama {

  }

  &-photo {

  }

  &-photoset {
    @include clearfix();
    @include list-unstyled();

    li {
      float: left;
      width: (100% / 3);
    }

  }

  &-quote {

  }

  &-text {

  }

  &-video {

  }

}

.post-controls {
  @include clearfix();
  @include list-unstyled();
  float: right;

  li {
    float: left;margin: 0 .5rem;

    &:first-child {
      margin-left: 0;
    }

    &:last-child {
      margin-right: 0;
    }

  }

}

.share-control {
  position: relative;

  ul {
    @include list-unstyled();
    background-color: unquote('{color:Background}');
    border: 1px solid $color-border;
    border-radius: .25rem;
    bottom: 100%;
    display: none;
    left: 50%;
    margin: 0 0 10px -80px;
    position: absolute;
    width: 160px;

    &.active {
      display: block;
    }

    &::before {
      border-color: unquote('{color:Background}');
      border-style: solid;
      border-width: 8px 8px 0;
      content: '';
      height: 0;
      left: 50%;
      margin-left: -8px;
      position: absolute;
      top: 100%;
      width: 0;
    }

    a {
      display: block;
      padding: .25rem 1rem;

      &:hover {
        background-color: $color-link-hover;
        color: $post-bgcolor;
      }

    }

  }

  li {
    float: none;
    margin: 0;
  }

}

.like_button {

}

.reblog_button {

}

.date-and-notes {
  @include clearfix();
  @include list-unstyled();
  float: left;

  li {
    float: left;
    margin: 0 .5rem;

    &:first-child {
      margin-left: 0;
    }

    &:last-child {
      margin-right: 0;
    }

  }

}

.notes {
  @include list-unstyled();
  font-size: .875rem;
  line-height: 1.5rem;
  margin-bottom: $margin-elements-bottom;

  li {
    @include clearfix();
  }

}

.avatar_frame {
  float: left;
  margin: .125rem .5rem 0 0;
}

.post-audio {

  .audio-art {
    max-width: 160px;
  }

}

