$footer-background-color: unquote('{color:FooterBackground}');
$footer-color: unquote('{color:Footer}');

footer {
  display: block;
  margin: 0;
  padding: 0;
}

.footer {
  background-color: $footer-background-color;
  color: $footer-color;
  font-size: .875rem;
  padding-bottom: 2rem;
  padding-top: 2rem;
}

.copyright {
  float: left;
}

.scroll-top {
  float: right;
}
