<!DOCTYPE html>
<html lang="
  {block:Dutch}nl{/block:Dutch}
  {block:English}en{/block:English}
  {block:French}fr{/block:French}
  {block:German}de{/block:German}
  {block:Italian}it{/block:Italian}
  {block:Japanese}ja{/block:Japanese}
  {block:Korean}ko{/block:Korean}
  {block:Polish}pl{/block:Polish}
  {block:PortugueseBR}pt-br{/block:PortugueseBR}
  {block:PortuguesePT}pt{/block:PortuguesePT}
  {block:Russian}ru{/block:Russian}
  {block:Spanish}es{/block:Spanish}
  {block:Turkish}tr{/block:Turkish}
">

{{> head }}

<body>

  {{> header }}

  <main class="main" role="main">

    <div class="container">

      {{> body }}

    </div>

  </main>

  {{> footer }}

  {block:IfInfiniteScrolling}
    <script src="http://codysherman.tumblr.com/tools/infinite-scrolling/code"></script>
  {/block:IfInfiniteScrolling}

  {block:IfGoogleAnalytics}
    <!-- build:js inline -->
    <script src="js/google-analytics.js"></script>
    <!-- /build -->
  {/block:IfGoogleAnalytics}

  {block:IfDisqusShortname}
    <!-- build:js inline -->
    <script src="js/disqus.js"></script>
    <!-- /build -->
  {/block:IfDisqusShortname}

</body>

</html>
