@mixin clearfix() {

  &::before,
  &::after {
    content: ' ';
    display: table;
  }

  &::after {
    clear: both;
  }

}

@mixin list-unstyled() {
  list-style: none;
  margin: 0;
  padding: 0;
}

@mixin placeholder {
  ::-webkit-input-placeholder {@content}
  ::-moz-placeholder {@content}
  :-moz-placeholder {@content}
  :-ms-input-placeholder {@content}
}
